html{
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
    text-align: center;
}

a{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: 1rem;
}

.projekt-container{
    display: flex;
}

ul{
    padding: 0;
    list-style: none;
}

.Title-name{
    color: darkblue;
    font-size: 2.5rem;  
}

.info{
  display: inline-block;
  text-align: left;
}

p{
    font-style: italic;
}

footer{
    font-weight: bold;
}